body {
    align-items: center;
}

#users {
    max-width: 520px;
    height: 1300px;
    background: #FDFEFF;
    transition: background 0.6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

h1 {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

p {
    color: #7C8097;
    font-size: 0.75em;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#users img {
    max-width: 100px;
    border: 6px solid #fff;
    border-radius: 150px;
    display: inline-block;

}

/* footer */

.footer {
    margin-top: 300px;
    text-align: center;
}

.footer a {
    color: #000;
    padding-left: 20px;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

/* copyright */
.copyright {
    margin-top: 20px;
    font: 400 14px 'Oswald', sans-serif;
    color: #000;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}